<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
          <h1> this is navi</h1> 
        </nav>
    </header>

    <main>
        <div class="layout">
            <div class="side-left">
                <div class="side1">Heading Link
                    <ul>
                        <li>link1</li>
                        <li>link2</li>
                        <li>link3</li>
                        <li>link4</li>

                    </ul>
                </div>
                <div class="side2">videos</div>
            </div>

            <div class="side-right">
                <h2>this is right heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut atque magnam sint? Reprehenderit perspiciatis ipsam et rem necessitatibus nemo repellendus corrupti ea maiores. Commodi, adipisci voluptas! Atque porro commodi vel!</p>
            </div>
        </div>
    </main>

    <footer>
        <h1>this is footer</h1>
    </footer>
</body>
</html>